
.slideImg{
    height:300px;
    width:100%
}

#icon{
    width: 23px;
    cursor:pointer;
}

nav ul{
    flex: 1;
    
}
#R{
    color:rgb(51, 36, 31);
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}
#co{
    height:60% !important;
    width:98% !important;
}
#coupon{
    height: 346px;
    width: 410px;
    border: 5px dotted #bbb; /* Dotted border */
    border-radius: 15px; /* Rounded border */
    background-color:rgb(235 224 233);
    z-index:100;
    position: absolute;
    display:block;
    margin-left: 37%;
}
.slideImgContent{
    height:100% !important;
    width:100% !important
}

.ii {
    width: 25%;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    font-size:13px;
    background-color: white;
    background-image: url('images/314807_search_icon.png');
    background-position: 1px 1px; 
    background-repeat: no-repeat;
    padding: 8px 17px 9px 45px;
  }
  input[type=submit] {
    width: 10%;
    background-color: #af4c96;
    color: white;
    padding:8px 13px;
    margin: 7px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  /* dic */
  #quickSearch{
    width:100%;
    margin-left:1%;
    margin-top: 2%;
}

#quickHeading{
     font-size:30px;
     display:block;
     font-weight:bold;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     margin-left: 2%;
}
#quickHeading:hover{
    font-size:40px;
    color:#f14bf7;
}

#quickSubHeading{
    font-size:20px;
    display:block;
    line-height: 3;
    margin-left: 2%;
}

.tileContainer{
    width:15%;
    box-shadow: 5px 10px 20px gray;
    display: inline-block;
    margin-left: 1%;
    margin-top: 1%;
    border-radius: 10px;
}



.tileContainer:hover{
    transform:scale(1.1)
}

.tileComponent1{
  width:100%;
  height:200px;
  border-radius: 10px;
}

.tileComponent1 > img{
    width:100%;
    height:200px;
    border-radius: 10px;
}
.tileComponent2{
    width:100%;
    margin-left: 24%;
    margin-top: 1%;
    font-family: "Times New Roman", Times, serif;
    
}
.componentHeading > a{

    font-size: 25px;
}

.componentSubHeading{
 
    font-size: 15px;
}

/*footer CSS*/
#footer{
    height:120px;
    width:100%;
    margin-top: 5%;

}

#footText{
    text-align: center;
}

.footDiv{
    height:70px;
    width:33%;
    float: left;
    border-right: 2px solid rgb(10, 10, 10);
    text-align: center;
}

.noBorder{
    border:none 
}

@media screen and (max-width:1600px){
    body{
        background-color:rgb(233, 223, 233)
    }
}


@media screen and (max-width:1400px){
    body{
        background-color:rgb(217, 218, 211)
    }
}

@media screen and (max-width:1200px){
    body{
        background-color:rgb(202, 207, 198)
    }
}

@media screen and (max-width:1200px){
    body{
        background-color:rgb(240, 185, 228)
    }

}


@media screen and (max-width:1000px){
    body{
        background-color:rgb(190, 238, 220)
    }
    .tileContainer {
        width: 45%;
    }

}


@media screen and (max-width:800px){
    body{
        background-color:rgb(236, 166, 166)
    }

    .tileContainer {
        width: 100%;
    }
}


@media screen and (max-width:500px){
    body{
        background-color:rgb(149, 184, 148)
    }

    .componentSubHeading{
        color:white;
    }
}
/*bag*/
.tilComponent1{
    width:100%;
    height:170px;     
    border-radius: 50px;
  }
  
  .tilComponent1 > img{
      width:150px;
      height:150px;
      border-radius: 75px;
  
  }


.tilContainer{
    width:13%;
    display: inline-block;
    margin-top: 1%;
    border-radius: 10px;
    margin-left: 8px;
}
.tilComponent2{
    width: 100%;
    margin-left: 18%;
    margin-top: 1%;
    font-family: "Lucida Console", "Courier New", monospace;
    
}

#pic{
width:75%;
margin-left:25%;
margin-top: 4%;
}